.body {
    -fx-background-color: white;
    -fx-font-family: "Metropolis", "Poppins", "Arial", "System";
}

.icons {
    -fx-translate-y: -1.5;
}


/* ============================= Top Bar Styles ============================= */
.bar {
    -fx-background-color: rgba(66, 125, 157, .8);
}

.logo_name {
    -fx-background-color: rgba(66, 125, 157, .5);
    -fx-text-fill: rgb(221, 242, 253);
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-font-weight: bolder;
    -fx-min-height: 67px;
}

.bar_title {
    -fx-text-fill: rgb(221, 242, 253);
    -fx-font-size: 22px;
    -fx-font-weight: bolder;
}

.bar_label_combobox {
    -fx-text-fill: rgb(221, 242, 253);
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
}

.bar_combobox {
    -fx-background-color: none;
    -fx-text-fill: rgb(221, 242, 253);
    -fx-cursor: hand;
    -fx-border-width: 1.5px;
    -fx-border-style: solid;
    -fx-border-color: rgb(221, 242, 253);
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}
/* ======================================================================= */


/* =========================== Sidebar Styles ============================ */
.sidebar {
    -fx-background-color: rgb(22, 72, 99);
    -fx-padding: 0;
}

.sidebar_button {
    -fx-background-color: none;
    -fx-text-fill: rgb(221, 242, 253);
    -fx-alignment: center-left;
    -fx-border-radius: none;
    -fx-font-size: 16px;
    -fx-padding: 12px 0 12px 25px;
    -fx-cursor: hand;
}

.sidebar_button_active {
    -fx-border-width: 0 0 0 4px;
    -fx-border-color: rgb(221, 242, 253);
    -fx-background-color: rgba(46, 105, 137, .5);
}

.sidebar_button:hover {
    -fx-background-color: rgba(66, 125, 157, .5);
}
/* ======================================================================== */


/* =========================== Form Styles ================================ */
.form_container {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 10, 0.2, 0, 0);
}

.form_vbox {
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
}

.input, .combobox, .input_search, .date_input {
    -fx-border: none;
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-size: 15px;
}

.date_input {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.label_input {
    -fx-background-color: none;
    -fx-text-fill: rgb(221, 242, 253);
    -fx-border-width: 1.5px;
    -fx-border-style: solid;
    -fx-border-color: rgb(22, 72, 99);
    -fx-border-radius: 5px;
}

.label_for_input {
    -fx-text-fill: rgb(22, 72, 99);
    -fx-font-size: 13px;
}

.form_button {
    -fx-border: none;
    -fx-background-color: rgb(22, 72, 99);
    -fx-text-fill: rgb(221, 242, 253);
    -fx-font-size: 15px;
    -fx-padding: 5px;
}

.form_button:hover {
     -fx-background-color: rgb(12, 62, 79);
     -fx-cursor: hand;
 }

.result_message {
   -fx-text-fill: rgba(0, 0, 0, .8);
   -fx-font-size: 13px;
}
/* ======================================================================== */


/* ============================ Search Styles ============================= */
.search_pane {
   -fx-border-color: transparent transparent rgb(22, 72, 99) transparent;
   -fx-border-width: 0 0 2px 0;
}

.search_button {
   -fx-background-color: none;
   -fx-cursor: hand;
   -fx-translate-y: 1;
}
/* ========================================================================= */


/* =========================== TableView Styles ============================ */
.table-view {
    -fx-background-color: none;
    -fx-border-width: 1px;
    -fx-border-color: #dcdce0;
    -fx-border-radius: 5px;
}

.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 5px;
}

.table-view .column-header {
    -fx-font-size: 14px;
    -fx-border-width: .5px;
    -fx-background-color: #f1f1f1;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #e1e1e1;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1px 0;
}

.table-view .table-row-cell:filled:even {
    -fx-background-color: #f9f9fc;
}

.table-view .table-row-cell:filled:odd {
    -fx-background-color: #ffffff;
}

.table-view .table-cell {
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-border-width: 0;
}

.table-view .table-cell:selected {
    -fx-background-color: #cce7ff;
    -fx-text-fill: black;
}

.table-view .table-row-cell:filled:selected .table-cell {
    -fx-background-color: #cce7ff;
    -fx-text-fill: black;
}

.tableview_button {
    -fx-border: none;
    -fx-background-color: rgb(22, 72, 99);
    -fx-text-fill: rgb(221, 242, 253);
    -fx-font-size: 13px;
    -fx-padding: 1px 5px;
    -fx-translate-y: -1;
    -fx-cursor: hand;
}
/* ==================================================================== */


/* ========================== Home Stats Styles ======================= */
.stats_container {
   -fx-alignment: center;
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .2), 10, 0.2, 0, 0);
}

.stat {
    -fx-background-radius: 20px;
    -fx-background-color: rgba(66, 125, 157, .5);
}
/* ==================================================================== */


/* ========================== TabPane Styles ========================== */
.tab-pane {
    -fx-tab-max-width: 200px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.tab-pane .tab-header-area {
     -fx-font-size: 15px;
     -fx-background-color: #2a2a2a;
     -fx-cursor: hand;
     -fx-padding: 0;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-text-base-color: rgba(0, 0, 0, .8);
    -fx-padding: 5px;
    -fx-border-radius: none;
}

.tab-pane .tab:selected {
    -fx-border-color: rgb(22, 72, 99);
    -fx-text-base-color: rgb(22, 72, 99);
    -fx-border-width: 0 0 3px 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-content-area {
    -fx-padding: 0 5px 5px 5px;
    -fx-background-color: #ffffff;
    -fx-border-color: rgb(22, 72, 99);
    -fx-border-width: 1px;
}
/* ==================================================================== */